* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
    background: url("./bg.jpg");
    background-size: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.numerator {
    border-radius: 6px;
    display: block;
    padding: 10px;
    width: 437px;
    background-color: #64278f;
    color: white;
    margin: 10px;
    font-size: 16px;
    outline: none;
}
::placeholder{
    color: white;
}

.denominator {
    border-radius: 6px;
    color: white;
    /* display: block; */
    width: 437px;
    padding: 10px;
    margin: 10px;
    outline: none;
    background-color: #64278f;
    font-size: 16px
}

.Answer {
    border-radius: 6px;
    color: white;
    background-color: #fc0067;
    /* display: block; */
    padding: 10px;
    margin: 10px;
    font-size: 16px
}

.Remainder {
    border-radius: 6px;
    color: white;
    background-color: #fc0067;
    /* display: block; */
    padding: 10px;
    margin: 10px;
    font-size: 16px
}

.Calculate {
    /* display: block; */
    padding: 12px;
    margin: 10px;
    font-size: 16px;
    width: 219px;
    background-color: white;
    font-weight: 600;
    border-radius: 6px;
    outline: none;
}

.upper-1 {
    display: block;
}

.lower-1 {
    display: block;
}

.divider {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    background: #191b28;
    width: 484px;
    height: 400px;
    padding: 40px;
    margin: 30px;
    border-radius: 30px;
}

.mixed-fraction {
    height: 50px;
    width: 400px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: inherit;
    background-color: #fc0067;
    border-radius: 5px;
}

.head-divider {
    color: white;
}

.answer-cal {
    border: 0px;
    border-radius: 3px;
    margin: 2px;
    background-color: #dcdbe1;
    width: 262px;
    height: 52px;
    display: block;
}

.cal-button {
    color: #e9c2f1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0px;
    border-radius: 3px;
    font-size: 23px;
    font-weight: 600;
    background-color: #64278f;
    width: 86px;
    height: 54px;
    margin: 11px -3px 7px 0px;
}

.inner-cal {
    border: 3px solid rgba(255, 255, 255, 0);
    height: 300px;
    width: 481px;
}

.cal-button-sp {
    border: 0px;
    border-radius: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 23px;
    color: #e9c2f1;
    font-weight: 600;
    background-color: #fc0067;
    width: 86px;
    height: 54px;
}

.ans-div {
    display: flex;
}

.calculator {
    padding: 20px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.input {
    border: 1px solid #fc0067;
    border-radius: 3px;
    height: 60px;
    padding-right: 15px;
    background-color: #fc0067;
    padding-top: 10px;
    text-align: right;
    margin-right: 6px;
    font-size: 2.5rem;
    color: white;
    overflow-x: auto;
    transition: all .2s ease-in-out;
}

.input:hover {
    border: 1px solid #bbb;
    -webkit-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}

.buttons {}

.operators {}

.operators div {
    display: inline-block;
    border: 1px solid #64278f;
    border-radius: 3px;
    width: 80px;
    text-align: center;
    padding: 10px;
    color: white;
    margin: 20px 4px 0px 0;
    cursor: pointer;
    background-color: #64278f;
    transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
}

.operators div:hover {
    background-color: #64278f;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-color: #aaa;
}

.operators div:active {
    font-weight: bold;
}

.leftPanel {
    display: inline-block;
}

.numbers div {
    display: inline-block;
    border: 1px solid #64278f;
    border-radius: 3px;
    width: 80px;
    text-align: center;
    color: white;
    padding: 10px;
    margin: 10px 4px 0px 0;
    cursor: pointer;
    background-color: #64278f;
    transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
}

.numbers div:hover {
    background-color: #64278f;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-color: #bbb;
}

.numbers div:active {
    font-weight: bold;
}

div.equal {
    display: inline-block;
    border: 1px solid #fc0067;
    border-radius: 3px;
    width: 17%;
    text-align: center;
    padding: 99px 10px;
    margin: 10px 6px 10px 0;
    vertical-align: top;
    cursor: pointer;
    color: #FFF;
    background-color: #fc0067;
    transition: all .2s ease-in-out;
}

div.equal:hover {
    background-color: #fc0067;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-color: #fc0067;
}

div.equal:active {
    font-weight: bold;
}